* {
  margin: 0;
  padding: 0;
}
header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
#logo {
  width: 300px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 15px;
}
#logo h1 {
  text-align: center;
  line-height: 70px;
}
#logo a {
  text-decoration: none;
  color: black;
}
#menu {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
#menu li {
  display: inline;
  line-height: 50px;
}
#menu a {
  text-decoration: none;
  color: #555555;
  padding-left: 60px;
  padding-right: 60px;
}
#slides {
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}
#slides img {
  width: 800px;
}
#title_text h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
}
#ranking_show {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  color: #6a6a6a;
}
#ranking_01 {
  width: 224px;
  height: 500px;
  float: left;
}
#ranking_01 img {
  width: 224px;
}
#ranking_01_title {
  content: "";
  display: block;
  width: 224px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#ranking_01 p {
  padding-top: 10px;
}
#ranking_02 {
  width: 224px;
  height: 500px;
  float: left;
  margin-left: 20px;
}
#ranking_02 img {
  width: 224px;
}
#ranking_02_title {
  content: "";
  display: block;
  width: 224px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#ranking_02 p {
  padding-top: 10px;
}
#ranking_03 {
  width: 224px;
  height: 500px;
  float: left;
  margin-left: 20px;
}
#ranking_03 img {
  width: 224px;
}
#ranking_03_title {
  content: "";
  display: block;
  width: 224px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#ranking_03 p {
  padding-top: 10px;
}
#ranking_04 {
  width: 224px;
  height: 500px;
  float: left;
  margin-left: 20px;
}
#ranking_04 img {
  width: 224px;
}
#ranking_04_title {
  content: "";
  display: block;
  width: 224px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#ranking_04 p {
  padding-top: 10px;
}
#ranking_05 {
  width: 224px;
  height: 500px;
  float: left;
  margin-left: 20px;
}
#ranking_05 img {
  width: 224px;
}
#ranking_05_title {
  content: "";
  display: block;
  width: 224px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#ranking_05 p {
  padding-top: 10px;
}
#new_item {
  width: 1200px;
  height: 1230px;
  margin: 0 auto;
}
#new_item_show_01 {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  color: #6a6a6a;
}
#new_item_title h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
}
#new_item_01 {
  width: 285px;
  height: 600px;
  float: left;
}
#new_item_01 img {
  width: 285px;
}
#new_item_01_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_01 p {
  padding-top: 10px;
}
#new_item_02 {
  width: 285px;
  height: 600px;
  float: left;
  margin-left: 20px;
}
#new_item_02 img {
  width: 285px;
}
#new_item_02_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_02 p {
  padding-top: 10px;
}
#new_item_03 {
  width: 285px;
  height: 600px;
  float: left;
  margin-left: 20px;
}
#new_item_03 img {
  width: 285px;
}
#new_item_03_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_03 p {
  padding-top: 10px;
}
#new_item_04 {
  width: 285px;
  height: 600px;
  float: left;
  margin-left: 20px;
}
#new_item_04 img {
  width: 285px;
}
#new_item_04_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_04 p {
  padding-top: 10px;
}
#new_item_show_02 {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  color: #6a6a6a;
  margin-top: 30px;
}
#new_item_05 {
  width: 285px;
  height: 600px;
  float: left;
}
#new_item_05 img {
  width: 285px;
}
#new_item_05_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_05 p {
  padding-top: 10px;
}
#new_item_06 {
  width: 285px;
  height: 600px;
  float: left;
  margin-left: 20px;
}
#new_item_06 img {
  width: 285px;
}
#new_item_06_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_06 p {
  padding-top: 10px;
}
#new_item_07 {
  width: 285px;
  height: 600px;
  float: left;
  margin-left: 20px;
}
#new_item_07 img {
  width: 285px;
}
#new_item_07_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_07 p {
  padding-top: 10px;
}
#new_item_08 {
  width: 285px;
  height: 600px;
  float: left;
  margin-left: 20px;
}
#new_item_08 img {
  width: 285px;
}
#new_item_08_title {
  content: "";
  display: block;
  width: 285px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
#new_item_08 p {
  padding-top: 10px;
}
#footer {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  margin-top: 150px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
