* {
  margin: 0;
  padding: 0;
}
header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
#logo {
  width: 300px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 15px;
}
#logo h1 {
  text-align: center;
  line-height: 70px;
}
#logo a {
  text-decoration: none;
  color: black;
}
#menu {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
#menu li {
  display: inline;
  line-height: 50px;
}
#menu a {
  text-decoration: none;
  color: #555555;
  padding-left: 60px;
  padding-right: 60px;
}
#shirt_01 {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
#line {
  width: 500px;
  height: 2px;
  background-color: #5d5d5d;
  margin-bottom: 20px;
}
#shirt_01_image_box {
  width: 50%;
  float: left;
}
#shirt_01_image_box img {
  width: 396px;
}
#shirt_01_image {
  display: block;
  margin: 0 auto;
}
#shirt_01_order {
  width: 50%;
  float: right;
}
#shirt_01_order h2 {
  font-size: 20px;
}
#shirt_01_order_01 {
  width: 20%;
  height: 150px;
  float: left;
  color: #5d5d5d;
}
#shirt_01_order_02 {
  width: 80%;
  height: 150px;
  float: right;
  color: #5d5d5d;
}
#shirt_01_order_02 a {
  text-decoration: none;
}
#buy_button {
  background-color: #333333;
  width: 500px;
  height: 50px;
  color: white;
  float: left;
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  margin-top: 50px;
  cursor: pointer;
}
